.modal {
  position: fixed;
  z-index: 200;
  top: 30%;
  left: 30%;
  width: 40%;
  background: black;
  padding: 1rem;
  border: 5px solid #0d4f10;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  text-align: center;
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal div {
  text-align: center;
  font-family: "GetScwifty";
  color: white;
  margin: 1rem;
}

.modal button {
  font-family: "GetScwifty";
  font-size: 1.2rem;
  display: inline-block;
  width: 10rem;
  height: 3rem;
  margin: 1.5rem;
  border-radius: 1rem;
  border: 5px solid #0d4f10;
}
